@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

.shake-horizontal {
  animation: shake-horizontal 0.5s;
}
.shake-horizontal input{
  background-color: red;
  transition: background-color 0.5s ease-in-out;
}
.shake-vertical {
  animation: shake-vertical 0.5s;
}

.shake-vertical input{
  background-color: green;
  transition: background-color 0.5s ease-in-out;
}

.containerPunteggio {
  display: flex;
  flex-direction: row;
}

.containerPunteggio p {
  padding-right: 1.2vw;
  font-size: 1.5vw;
}

.containerPunteggio p b {
  padding-right: 1vw;
  font-size: 1.5vw;
}

img {
  width: 15vw;
}

.containerAzioni {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerAzioni input {
  margin-right: 1vw;
}

.containerAzioni button {
  margin-right: 0.5vw;
}

input {
  width: 14vw;
  height: 3vh;
  border-radius: 2vw;
  background-color: white;
  transition: background-color 0.5s ease-in-out;
  padding: 0.15vw 0.5vw;
  font-size: 1.1vw;
  border: 0.1vw solid black;
}

input:focus{
  outline: none;
  border: 0.2vw solid black;
}

.id{
  font-size: 1.2vw;
}

.id b{
  font-size: 1.4vw;
}

.containerAzioni button{
  width: 3.5vw;
  height: 2vw;
  border-radius: 50vw;
  font-weight: bold;
  font-size: 1vw;
  border: 0.1vw solid black;
  padding: 0.25vw 0.25vw;
}